<div class="page contact-page">
  <div class="page-header">
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <mat-icon>search</mat-icon>
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Tìm bạn bè" value="Sushi">
        </mat-form-field>
        <button>
          <mat-icon>person_add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="page-content">

  </div>
</div>